body {
  background: linear-gradient(to bottom right, dodgerblue, mediumseagreen);
}

a {
  color: black;
}

.bigger-text {
  font-size: 16px;
}

.smallish {
  color: black;
}

#profilePic {
  width: 300px;
}

.thebottom {
  margin-bottom: 50px;
}
