body {
  background: linear-gradient(to bottom right, dodgerblue, mediumseagreen);
}

a {
  color: black;
}

.smallish {
  color: black;
}

#profilePic {
  width: 300px;
}

.thebottom {
  margin: 10px;
}
